mixin about-us()
  section.about-us#about-us 
    .wrapper.about-us__wrapper 

      h2.about-us__title ABOUT US
      p.about-us__subtitle We are a team of enthusiasts who make apps for people. Logic, productivity and creativity are our credo.

      .about-us__photos 
        img.about-us__img(src="./assets/images/man-1.jpg" alt="Man")
        img.about-us__img(src="./assets/images/girl-1.jpg" alt="Woman")
        img.about-us__img(src="./assets/images/man-2.jpg" alt="Man")
        img.about-us__img(src="./assets/images/man-3.jpg" alt="Man")
        img.about-us__img(src="./assets/images/man-4.jpg" alt="Man")
        img.about-us__img(src="./assets/images/girl-2.jpg" alt="Woman")
        img.about-us__img(src="./assets/images/girl-3.jpg" alt="Woman")
        img.about-us__img(src="./assets/images/man-5.jpg" alt="Man")

      .circle.circle--orange
        .circle__inner
      .stroke.stroke--3
      .stroke.stroke--4

