mixin contacts()
  section.contacts#contacts
    .wrapper.contacts__wrapper 

      h2.contacts__title CONTACTS
      p.contacts__text Subscribe to our pages on social networks and subscribe to our newsletter to stay tuned.

      .contacts__button 
        +button({
            text: 'Subscribe',
            title: "Subscribe",
            demo: true,
        })
        
      .circle.circle--orange-2
        .circle__inner
      .stroke.stroke--9
      .stroke.stroke--10