mixin socials()
  ul.socials 
    li.socials__item 
      a.socials__link(href="https://uk-ua.facebook.com/" target='_blank') 
        svg.icon.icon-facebook.socials__icon
          use(xlink:href='#icon-facebook')
    li.socials__item 
      a.socials__link(href="https://www.youtube.com/" target='_blank') 
        svg.icon.icon-youtube.socials__icon
          use(xlink:href='#icon-youtube')
    li.socials__item 
      a.socials__link(href="https://www.behance.net/" target='_blank') 
        svg.icon.icon-behance.socials__icon
          use(xlink:href='#icon-behance')
    li.socials__item 
      a.socials__link(href="https://www.reddit.com/" target='_blank') 
        svg.icon.icon-reddit.socials__icon
          use(xlink:href='#icon-reddit')  
    li.socials__item 
      a.socials__link(href="https://www.instagram.com/" target='_blank') 
        svg.icon.icon-inst.socials__icon
          use(xlink:href='#icon-inst')  
